<!DOCTYPE html>
<html lang="vi">
	<head>

	</head>
	<body>
	    <div>
	        <h1><%= message %></h1>
	        <p><%= error.status %></p>
	        <pre><%= error.stack %></pre>
	    </div>
	</body>
</html>